body {
        background-color: #EEEEEE;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-width: 8px;
    border-color: gray;

}

h1, h3 {
    color: #00ADB5

}

h2 {
    color: #393E46;
}

img {
    border-radius: 100%;

}
